@use '../partials/colors.scss' as *;

@mixin my-dislay-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin my-button-main-color {
    background-color: $main-color;
    text-transform: uppercase;
    color: white;
    padding: 9px 23px;
    border-radius: 5px;
    border: none;
}

@mixin my-button-second-color {
    background-color: #ffffff;
    text-transform: uppercase;
    color: $main-color;
    padding: 8px 22px;
    border-radius: 4px;
    border: 1px solid $main-color;
}

@mixin intro-title {
    color: #00A6A6;
    text-transform: uppercase;
    font-size: 12px;
    margin: 10px 0px;
}

@mixin titles-1 {
    display: inline-block;
    font-size: 40px;
    margin: 10px 0px;
    color: $second-color;
    font-weight: 800;
}

@mixin titles-1-background {
    background-color: #05838316;
    color: $main-color;
    border-radius: 5px;
    margin-left: 4px;
    padding: 0px 4px;
}

@mixin title-2 {
    display: inline-block;
    font-size: 40px;
    color: white;
}

@mixin title-2-background {
    background-color: rgba(27, 142, 142, 0.14);
    border-radius: 5px;
    margin: 10px 6px;
    padding: 0px 10px;
}

@mixin paragraph-style {
    color: #606D75;
    font-size: 13px;
    font-weight: 300;
}