* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // border: 1px solid rgb(236, 40, 105);
}

body {
    font-family: 'Poppins', sans-serif;
}

header,
main,
footer {
    max-width: 1600px;
}

.container,
nav {
    width: 60%;
    height: 100%;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none
}